.titulo{
	background-color: yellow;
}

.fondo{
	background-color: whitesmoke;
	height: 100%;
}

.lista{
	background-color: white;
	margin-top: 60px;
}

.ingresa{
	background-color: white;
	border:solid silver thin;
}

button{
	float:right;
}

#contenedor-principal{
	box-sizing: content-box;
	height: 100vh;
}