.titulo{
	background-color: yellow;
}

.fondo{
	background-color: whitesmoke;
	height: 100vh;
}

.lista{
	background-color: white;
}

.ingresa{
	background-color: white;
	border:solid silver thin;
}


ul li{
	list-style-type: none;
}
